.copyright {
  background-color: #0d1b2a; 
  color: #ffffff;
}

.fixed {
  -ms-flex: 0 0 250px;
  flex: 0 0 250px;
}

.content-grey {
  background-color: #f4f6f9; 
}

hr {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

.img-profile {
  height: 2rem;
  width: 2rem;
}

.profile-font {
  color: #6c757d !important;
  font-size: 80%;
  font-weight: 400;
}

.card-header {
  background-color: #ffffff;
  border-bottom: 1px solid #dee2e6;
}