.bg-secondary {
    background-color: #0d1b2a !important; 
}

.bg-primary {
    background-color: #f39c12 !important;
}

.copyright {
    background-color: #0d1b2a;
    color: white;
}

nav {
    font-weight: 700;
}

.img-card {
    height: 18vw;
    object-fit: cover;
}

.nav-link:hover {
    color: #f39c12 !important;
}

.nav-link:hover {
    color: #f39c12 !important;
}
